<template name="about">
	<section id="about">
		<div class="about-text">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			<span class="credits-text">
				Designed and developed by <a href="http://kyleconrad.com" target="_blank">Kyle Conrad</a>. Hosted by DigitalOcean. Headlines set in Armor Piercing and Government Agent by BlamBot. Subheads and body copy set in Tablet Gothic Condensed and Tablet Gothic, delivered by Typekit. Satellite map imagery courtesy of NASA. Data provided by Marvel. © 2014 Marvel
			</span>
		</div>

		<div id="share" class="about-links">
			<a href="#" class="social-link twitter-link"><span class="social-link-text">Share on Twitter</span></a>
			<a href="#" class="social-link facebook-link"><span class="social-link-text">Share on Facebook</span></a>
		</div>
	</section>
</template>