<template name="about">
	<section id="about">
		<div class="about-text">
			<p>Feared and hated by humans because they're different, the X-Men are heroic mutants, individuals born with special powers who've sworn to use their gifts to protect mutants as well as humans.</p>
			<p>World Of X is an interactive exploration of the world of Marvel's X-Men. Created in 1963, the X-Men have fought evil (and themselves) for over sixty years and across hundreds of comic book series, events, cartoons, and movies. With World Of X, you can explore the places that have shaped their world (as well as the rest of the Marvel Universe). Excelsior!</p>

			<span class="credits-text">
				Designed and developed by <a href="http://kyleconrad.com" target="_blank">Kyle Conrad</a>. Hosted by <a href="http://www.digitalocean.com" target="_blank">DigitalOcean</a>. Built using <a href="https://www.meteor.com/" target="_blank">Meteor.js</a>. Source available on <a href="https://github.com/kyleconrad/worldofx" target="_blank">Github</a>. Headlines set in Armor Piercing and Government Agent by <a href="http://www.blambot.com" target="_blank">BlamBot</a>. Subheads and body copy set in Tablet Gothic Condensed and Tablet Gothic, delivered by <a href="http://www.typekit.com" target="_blank">Typekit</a>. Satellite map imagery courtesy of <a href="http://www.nasa.gov/mission_pages/NPP/news/earth-at-night.html" target="_blank">NASA</a>. Data provided by <a href="http://www.marvel.com" target="_blank">Marvel</a>. © 2014 Marvel
			</span>
		</div>

		<div id="share" class="about-links">
			<a href="https://twitter.com/intent/tweet?url=http://world-of-x.com&via=kyle_conrad&text=World%20Of%20X%20-%20An%20Interactive%20Exploration%20of%20the%20World%20of%20Marvel%27s%20X-Men&original_referer=" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" class="social-link twitter-link"><span class="social-link-text">Share on Twitter</span></a>
			<a href="https://www.facebook.com/sharer/sharer.php?u=http://world-of-x.com" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" class="social-link facebook-link"><span class="social-link-text">Share on Facebook</span></a>
		</div>
	</section>

	<div id="about-overlay"></div>
</template>