<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <!-- All coding, design, ideas, fantastical inventions, etc. etc. © 2014 Kyle Conrad -->
    <!-- Contact: kyle@kyleconrad.com -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui" />
    <meta name="viewport" id="vp" content="initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimal-ui" media="(device-height: 568px)" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="apple-mobile-web-app-capable" content="yes" >
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" href="/iphoneLowRes.jpg" />
    <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" href="/iphoneRetina.jpg" />
    <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" href="/iphone5Retina.jpg" />
    <link rel="apple-touch-startup-image" media="(device-width: 375px)" href="/iphone6.jpg" />
    <link rel="apple-touch-startup-image" media="(device-width: 414px)" href="/iphone6Plus.jpg" />

    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)" href="/ipadLandscape.jpg" />
    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)" href="/ipadPortrait.jpg" />
    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" href="/ipadLandscapeRetina.jpg" />
    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" href="/ipadPortraitRetina.jpg" />

    <meta name="fragment" content="!">
    <title>World Of X - An Interactive Exploration of the World of Marvel's X-Men</title>
    <meta name="description" content="World Of X is an interactive exploration of the world of Marvel's X-Men. Created in 1963, the X-Men have fought evil (and themselves) for over sixty years and across hundreds of comic book series, events, cartoons, and movies. With World Of X, you can explore the places that have shaped their world.">
    <meta name="keywords" content="marvel, x-men, xmen, cerebro, marvel universe, comic books, interactive, map, exploration">
    <meta name="robots" content="NOODP">
    <meta name="googlebot" content="NOODP">

    <link rel="author" href="humans.txt" />

    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="/apple-180.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/apple-120.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-72.png">
    <link rel="apple-touch-icon-precomposed" href="/android-152.png">

    <link rel="icon" href="/fav16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="/fav32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/fav48.png" sizes="48x48" type="image/png">
    <link rel="icon" href="/fav64.png" sizes="64x64" type="image/png">
    <link rel="icon" href="/fav128.png" sizes="128x128" type="image/png">
    <link rel="icon" href="/fav195.png" sizes="195x195" type="image/png">
    <link rel="icon" href="/fav32.png">
    <meta name="msapplication-TileColor" content="#d8232a">
    <meta name="msapplication-TileImage" content="/fav144.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@kyle_conrad">
    <meta name="twitter:title" content="World Of X - An Interactive Exploration of the World of Marvel's X-Men">
    <meta name="twitter:description" content="World Of X is an interactive exploration of the world of Marvel's X-Men. Created in 1963, the X-Men have fought evil (and themselves) for over sixty years and across hundreds of comic book series, events, cartoons, and movies. With World Of X, you can explore the places that have shaped their world.">
    <meta name="twitter:image:src" content="http://world-of-x.com/social.jpg">

    <meta itemprop="name" content="World Of X - An Interactive Exploration of the World of Marvel's X-Men" />
    <meta itemprop="description" content="World Of X is an interactive exploration of the world of Marvel's X-Men. Created in 1963, the X-Men have fought evil (and themselves) for over sixty years and across hundreds of comic book series, events, cartoons, and movies. With World Of X, you can explore the places that have shaped their world." />
    <meta itemprop="image" content="http://world-of-x.com/social-square.jpg" />

    <meta property="og:title" content="World Of X - An Interactive Exploration of the World of Marvel's X-Men" />
    <meta property="og:url" content="http://world-of-x.com/"/>
    <meta property="og:site_name" content="World Of X - An Interactive Exploration of the World of Marvel's X-Men" />
    <meta property="og:description" content="World Of X is an interactive exploration of the world of Marvel's X-Men. Created in 1963, the X-Men have fought evil (and themselves) for over sixty years and across hundreds of comic book series, events, cartoons, and movies. With World Of X, you can explore the places that have shaped their world." />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://world-of-x.com/social.jpg" />

    <script type="text/javascript" src="//use.typekit.net/cyw0nyk.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerwithlabel/1.1.9/src/markerwithlabel_packed.js"></script>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-54947951-1', 'auto');
		ga('send', 'pageview');
	</script>
</head>