<template name="infobox">
	<section id="infobox">
		<div class="location-image" style="background-image: url('http://cdn.world-of-x.com/img/locations/{{slug}}.jpg');" data-slug="{{slug}}"></div>

		<div class="location-info">
			<div class="scroll-container">
				<a href="#" id="backlink" class="backlink home-link">Back To Map</a>

				<span class="location-title">
					<h1><img src="http://cdn.world-of-x.com/img/titles/title-{{slug}}.svg" class="title-image" alt="{{title}}"></h1>
					<h2><img src="http://cdn.world-of-x.com/img/titles/location-{{slug}}.svg" class="subtitle-image" alt="{{subtitle}}"></h2>
				</span>

				{{{content}}}

				<div class="series-listing">
					<h4>Related Series</h4>

					{{#each singleSeries series}}
						<a href="{{comicURL}}" target="_blank" class="series-link">
							<span class="series-link-image" style="background-image: url('{{comicCover}}');"></span>
							<span class="series-link-text">{{comicTitle}}</span>
						</a>
					{{/each}}

					<div class="series-listing-slant"></div>
				</div>
			</div>
		</div>
	</section>
</template>