/* ABOUT */
#about {
	font-size: 1rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: auto;
	padding: 50px 1.25em 1.5em;
	background: black;
	@include transform(translate3d(0,-100%,0) translateY(45px));
	@include transition(0.5s);
	@include transition-timing-function(ease);
	@include transition-delay(0.05s);

	&:after {
		clear: both;
		display: block;
		font-size: 0;
		line-height: 0;
		visibility: hidden;
		width: 0;
		height: 0;
		content: '';
	}


	.about-panel-open & {
		@include transform(translate3d(0,0,0) translateY(0));
		@include transition-delay(0s);
	}


	@include breakpoint(large) {
		font-size: 1.2rem;
	}
	@include breakpoint(portrait) {
		font-size: 0.9rem;
	}
	@include breakpoint(mobile) {
		font-size: 0.8rem;
		height: 100%;
		overflow-y: scroll;
	}
}

.about-text {
	width: 60%;

	@include breakpoint(mobile) {
		width: 100%;
		padding-bottom: 2em;
	}
}
.about-links {
	width: 40%;
	padding-left: 18%;


	@include breakpoint(landscape) {
		padding-left: 13%;
	}
	@include breakpoint(portrait) {
		padding-left: 10%;
	}
	@include breakpoint(mobile) {
		width: 100%;
		padding-left: 0;
	}
}
.about-text,
.about-links {
	float: left;
	opacity: 0;
	@include transition(0.2s);


	.about-panel-open & {
		opacity: 1;
		@include transition-delay(0.3s);
	}
}


#about-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	background: white;
	opacity: 0;
	@include transition(opacity 0.25s);
	@include transition-delay(0.2s);
	@include transform(translate3d(0,0,0));

	-ms-pointer-events: none;
	pointer-events: none;

	.about-panel-open & {
		opacity: 0.6;
		@include transition-delay(0s);

		-ms-pointer-events: auto;
		pointer-events: auto;
	}
}