/* IMAGES */
img {
	display: block;
	width: 100%;
	max-width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

.title-image {
	height: 5.5em;
	width: auto;
	margin-bottom: 0.65em;
}
.subtitle-image {
	height: 1em;
	width: auto;
	margin-left: 0.35em;
}