/* IMAGES */
img {
	display: block;
	width: 100%;
	max-width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

.title-image {
	height: 5.5em;
	width: auto;
	margin-bottom: 0.65em;
	max-width: 90%;


	@include breakpoint(mobile) {
		height: 6.5em;
		max-width: 100%;
	}
}
.subtitle-image {
	height: 1em;
	width: auto;
	margin-left: 0.35em;
	max-width: 90%;


	@include breakpoint(portrait) {
		margin-left: 0;
	}
	@include breakpoint(mobile) {
		margin-left: 0;
		height: 1.5em;
		max-width: 100%;
	}
}