/* INFOBOX */
#infobox {
	position: absolute;
	top: 45px;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	height: calc(100% - 45px);
}

.location-image,
.location-info {
	position: absolute;
	height: 100%;
	bottom: 0;
}
.location-image {
	left: 0;
	width: 53%;
	background-position: center center;
	background-size: cover;
	background-repeat: none;
}
.location-info {
	font-size: 1rem;
	right: 0;
	width: 47%;
	background: white;
	padding: 0;
	margin: 0;

	&:before {
		z-index: -1;
		position: absolute;
		background: white;
		display: block;
		width: 10%;
		height: 100%;
		left: 0;
		top: 0;
		@include transform(skewX(-5deg) translate3d(-51%,0,0));
		content: "";
	}
}

.scroll-container {
	overflow: hidden;
	overflow-y: auto;
	padding: 1em 4.5em 0 34.5%;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 130%;
	@include transform(translate3d(0,0,0));

	&:focus {
		outline: none;
	}


	html[data-useragent*='Chrome'] & {
		width: calc(130% + 10px);
	}
	html[data-useragent*='Firefox'] & {
		width: calc(130% + 15px);
	}
}



.location-title {
	display: block;
	background: $red;
	padding: 1.25em 2em;
	margin: 1.25em 0;
	width: 130%;
	@include transform(skewX(-5deg) translate3d(-8%,0,0));
	z-index: 500;

	img {
		@include transform(skewX(5deg) translate3d(0,0,0));
	}
}



.series-listing {
	background: black;
	margin: 3em 0 0;
	padding: 2.25em 4.5em 1.5em 0;
	width: 125%;
	@include transform(translate3d(-9%,0,0));
	display: block;
	position: relative;

	&:after {
		clear: both;
		display: block;
		font-size: 0;
		line-height: 0;
		visibility: hidden;
		width: 0;
		height: 0;
		content: '';
	}

	.series-listing-slant {
		display: block;
		position: absolute;
		width: 50%;
		height: 100%;
		top: 0;
		left: 0;
		background: black;
		z-index: -1;
		@include transform(skewX(-5deg) translate3d(-20%,0,0));
	}
}
.series-link {
	display: block;
	width: 33.3%;
	width: calc(33% - 11px);
	float: left;
	margin-right: 19px;
	text-decoration: none;
	margin-bottom: 1.75em;
	padding: 0;

	&:nth-of-type(3n) {
		margin-right: 0;
	}

	img {
		border: 3px solid rgba($red,0.5);
		@include transition(0.15s);
		margin-bottom: 0.5em;
	}
	.series-link-text {
		opacity: 0.5;
		@include transition(0.15s);
	}

	&:hover,
	&:active {
		img {
			border-color: $red;
		}
		.series-link-text {
			opacity: 1;
		}
	}
}