/* NAV BAR */
nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 45px;
	display: block;
	padding: 10px 1.25em;
	font-size: 1rem;

	img {
		height: 100%;
		width: auto;
		display: inline-block;
		margin: 0;
		padding: 0;
	}


	@include breakpoint(xxlarge) {
		font-size: 1.4rem;
		height: 60px;
	}
	@include breakpoint(large) {
		font-size: 1.2rem;
	}
	@include breakpoint(portrait) {
		font-size: 0.9rem;
	}
	@include breakpoint(mobile) {
		font-size: 0.8rem;
		background: black;
	}
}