/* Z-INDEX SETTINGS */
#loading {
	z-index: 999;
}

nav {
	z-index: 99;
}

#about {
	z-index: 98;
}
#about-overlay {
	z-index: 97;
}

#infobox {
	z-index: 25;
}
.location-image {
	z-index: 30;
}
.location-info {
	z-index: 50;
}

#map {
	z-index: 1;
}
#map-controls {
	z-index: 10;
}
#reticle {
	z-index: 15;
}